* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: #262626;
}

#alphaContainer {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

.row {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

#quoteGenerator {
    display: flex;
    justify-content: left;
    align-items: center;
}

.quote-container {
    width: 35.1%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    padding: 30px;
    margin-left: 20px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.9);
}

.quote-text {
    font-size: 20px;
}

#quoterLogoAndName {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.quoter {
    font-size: 25px;
    letter-spacing: 5px;
}

.quoter i {
    color: #ff004f;
    font-size: 20px;
}

.quote-container button {
    padding: 15px 20px;
    background: #ff004f;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
    transition: .5s;
}

.quote-container button:hover {
    cursor: pointer;
    background: white;
    color: #ff004f;
}

/*--------------------------------FAQ Accordion-----------------------------------*/

#dcFaq {
    display: flex;
    justify-content: center;
    align-items: center;
}

#faqContainer {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    color: white;
    border: 1px solid #ff004f;
    border-radius: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
}

#faqContainer h1 {
    margin: 0 auto 30px;
}

.qSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question {
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}

.question::after {
    content: "+";
    position: absolute;
    top: -5px;
    right: 20px;
    font-size: 20px;
    transition: .5s;
}

.answer {
    font-size: 20px;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.active .question {
    font-size: 16px;
}

.active .answer {
    height: 140px;
}

.active .question::after {
    content: "x";
    font-size: 20px;
}






@media only screen and (max-width: 1024px) {
    .quote-container {
        width: 53.4%;
    }

    .quote-container h1 {
        font-size: 35px;
    }

    .quote-text {
        font-size: 30px;
    }

    .quoter {
        font-size: 35px;
    }

    .quote-container button {
        font-size: 25px;
    }

    .quote-container button:hover {
        background: #ff004f;
        color: white;
    }

    #faqContainer {
        width: 70%;
    }
}

@media only screen and (max-width: 840px) {
    .quote-container {
        width: 66.7%;
    }
}

@media only screen and (max-width: 414px) {
    .quote-container {
        width: 94.2%;
        margin-left: 0;
        margin: auto;
        gap: 20px;
    }

    .quote-container h1 {
        font-size: 22px;
    }

    .quote-text {
        font-size: 20px;
    }

    .quoter {
        font-size: 22px;
    }

    .quote-container button {
        font-size: 15px;
    }

    #faqContainer {
        width: 90%;
    }

    #faqContainer h1 {
        font-size: 24px;
    }

    .question {
        font-size: 15px;
    }

    .answer {
        font-size: 17px;
    }

    .active .question {
        font-size: 15px;
    }
}